<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/favicon.ico" rel="icon">
  
  <title>Projects</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Python Projects</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact me</a></li>
          
        </ul>

        <div class="footer-container">
           
          <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
          <p class="footer-share-icons">
              <a href="https://www.twitter.com" class="fa-icon" title="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com" class="fa-icon" title="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.behance.com" class="fa-icon" title="">
                  <i class="fa fa-behance" aria-hidden="true"></i>
              </a>
              <a href="https://www.vimeo.com" class="fa-icon" title="">
                  <i class="fa fa-vimeo" aria-hidden="true"></i>
              </a>
          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

  

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content  text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Password Checker</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Description</h3>
                <p>With this project you can safely check to see if your password has been a hacked.</p>
              </div>

          
          </div>
          <div class="col-md-8">
            <h3>How does it work? ?</h3>
            <p>There are databases out there that hackers have compiled with usernames and passwords that have ever been leaked throughout history. There is a website created by Troy Hunt, an Australian web security consultant, called 'haveibeenpwned.com'. In this python project we use their API to check their databases so we dont have to put our password into any web browsers. Using your command prompt and entering as many passwords as you wish, the password checker will run your passwords against the known databases. It will return the number of hits it gets. </p>
          
          </div>
        </div>

        <center>
          <img src="./static/assets/images/passwordcheckerexample.jpg" alt="" class="img-responsive">
          <p>Here you can see the input and output within the command prompt. </p>
        </center>

        <blockquote class="text-center large-spacing">
            <p>"Passwords are like underwear:don't let people see it, change it very often and you shouldn't share it with strangers"</p>
            <small class="pull-right">Chris Pirillo</small>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          
        </ul>
        <p class="h5 navbar-text">Scroll Down! <i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

        
          
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">02</span>PDF Watermark</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Description</h3>
                <p>With this project you can watermark any number of pages efficiently with a watermark of your choosing</p>
              </div>

          
          </div>
<div class="col-md-8">
            <h3>How does it work? ?</h3>
            <p> Using the PyPDF2 library, this python script grabs the pdf and watermark of your choosing and merges them. A 'for loop' loops through all of the pages in the file you chose and stamps every page with your watermark. Once it finishes looping through all of the pages and merges them with the watermark it is then saved as an entirely new pdf file. While this script utilizes the command prompt it can be easily adjusted to run as an executable for business purposes.
             </p>
          
          </div>
        </div>

        <center>
        <img src="./static/assets/images/pdfwatermarkexample.jpg" alt="" class="img-responsive">
        <p>This is an example of what is generated using a generic watermark and dummy pdf. </p>
        </center>
        
       
      </div>
    </div>
  </div>
</div>





<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">03</span>Email Sender</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Description</h3>
                <p>The 'Email Sender' project is a simple tool that allows you to send many emails at once using a template of your choosing. </p>
              </div>

          
          </div>
<div class="col-md-8">
            <h3>How does it work? ?</h3>
            <p> Python comes with a built in email library. Utilizing the smtplib and EmailMessage libraries we grab our own email whether it be a personal or business email. A Gmail account is used in this script so we use a specific smtp host and port to log into our Gmail client. After we reach the server and securely connect we log into our Gmail. Then finally we send the email. It will grab our template document and send it within the email. This script uses the command prompt so the user can choose where we are going to send this email. 
             </p>
          
          </div>
        </div>


        <center>
          <img src="./static/assets/images/emailsenderexample.jpg"  class="img-responsive">
          <p>Here is the script and as you can see it is within a loop. This is to be able to send as many emails as one wants to a specific email address </p>
        </center>

        
       
      </div>
    </div>
  </div>
</div>






<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">04</span>Discord Bot</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Description</h3>
                <p>This Discord bot was a side project I did for my friends and I to play with inside of Discord. For those who do not know Discord is a software that allows for group voice and message chats Users communicate through voice calls or instant messaging </p>
              </div>

          
          </div>
<div class="col-md-8">
            <h3>How does it work? ?</h3>
            <p> Using Discords API this bot reacts to users messaging within certain message boards. The bot will react to key words that are said within messages and react to specific users. In order to make the bot feel more lifelike there is a small percentage chance that it will respond. This is also to prevent the bot from spamming. 
             </p>
          
          </div>
        </div>


        <center>
          <img src="./static/assets/images/discordbotexample.jpg"  class="img-responsive">
          <p>This picture shows a sample reaction within Discord. The bot is based off of Dr. Fauci </p>
        </center>

        
       
      </div>
    </div>
  </div>
</div>



<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">05</span>Data Set</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Description</h3>
                <p>This project is to show how Jupyter Notebook is used in the data science field and how we can use python to create new data sets and graphs to help us or others make decisions. </p>
              </div>

          
          </div>
<div class="col-md-8">
            <h3>How does it work? ?</h3>
            <p> Using Jupyter Notebook, pandas, seabord, and bokeh we take the data that has been provided to us and chart it in specific ways. In this example we are given a data set of all FIFA soccer players of 2019 and a handful of stats. Using their wage, and value we caculate the difference and create a new data set. We also graph which players have the highest wage and value and create a graph with interactive points.
             </p>
          
          </div>
        </div>


        <center>
          <img src="./static/assets/images/datascience1example.jpg"  class="img-responsive">
          <p>This is our calcuted difference between players wages and values. It is descending order based on the difference. </p>
        </center>

        <center>
          <img src="./static/assets/images/datascience2example.jpg"  class="img-responsive">
          <p>Here is our interactive graph with one point showing an example of the interaction capabilities. </p>
        </center>

        
       
      </div>
    </div>
  </div>
</div>





<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">06</span>Machine Learning</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Description</h3>
                <p>Jupyter Notebook is a powerful tool to that uses python to create organized data but it can also be used for machine learning. In this project you can input your own data and Jupyter Notebook will predict which Iris flower species you entered. </p>
              </div>

          
          </div>
<div class="col-md-8">
            <h3>How does it work? ?</h3>
            <p> Using Jupyter Notebook, SkLearn, and a data set containing information about Iris flower species we create a test set along with a training set. We are using the training set to show what data we want and use the test set to ensure our algorithm is accurately predict. Once we know the algorithm works to our standards we input our own data and let the algorithm give us an output. In this case our data was made at random to test our prediction model.
             </p>
          
          </div>
        </div>


        <center>
          <img src="./static/assets/images/machinelearningexample.jpg"  class="img-responsive">
          <p>Here we plug in our own numbers, compare it to our sample, and the script will 'guess' which species of Iris flower we have given it </p>
        </center>   
       
      </div>
    </div>
  </div>
</div>




<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">07</span>This Site!</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Description</h3>
                <p>This site is built using Python and Flask framwork</p>
              </div>

          
          </div>
<div class="col-md-8">
            <h3>How does it work? ?</h3>
            <p> Flask framework, alongside python, has enabled me to create this portfolio. Flask allows me to send and recieve url requests so you can navigate the site. With HTML, CSS, and javascript visitors can contact me with ease. Entering information on the 'Contact' page is stored within a database so I can recieve that information and return messages to visitors. 
             </p>
          
          </div>
        </div>


       
      </div>
    </div>
  </div>
</div>



<!-- next project goes here -->




<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          
        </ul>
        <p class="h5 navbar-text">Scroll Down! <i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

        
          
        </ul>
      </div>
    </div>
  </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>